<#import "/views/layout/adminLayout.ftl.html" as layout> 
<#macro myLayout title="Layout example">
<@layout.myLayout "Home Page"> 

<#assign hTitle = '${i18n("nav.userAuthority")}'>
<#assign hDescription = '${i18n("nav.userAuthority.description")}'>
<#assign navs = ['${hTitle}', '${i18n("nav.userAuthority.user")}']>
<#include "/views/layout/contentHeader.ftl.html"/> 

	<#nested/>
<script src="assets/js/user.js" type="text/javascript"></script>  	
<script src="assets/js/user.account.edit.js" type="text/javascript"></script>  
<!-- END PAGE LEVEL SCRIPTS -->  
<script>
	jQuery(document).ready(function() {
		AccountEdit.init();
	}
</script>	
</@layout.myLayout>

</#macro>