<#import "/views/layout/baseLayout.ftl.html" as layout>
<@layout.header '${i18n("nav.ota.version")}'>  
 	
</@layout.header>

<@layout.content '${i18n("nav.ota.version")}' '${i18n("nav.ota.version.description")}'>
<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption"><i class="icon-reorder"></i>${i18n("version.addnew")}</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
			</div>
		</div>
	<div class="portlet-body form">
	<!-- BEGIN FORM-->

	<form action="#" id="form_add" class="form-horizontal">
		<div class="alert alert-error hide">
			<button class="close" data-dismiss="alert"></button>
		<span>${i18n("validation.fail")}</span>
			</div>
			<div class="alert alert-success hide">
				<button class="close" data-dismiss="alert"></button>
				${i18n("validation.success")}
			</div>
			<div class="control-group">
				<label class="control-label">${i18n("project")}<span class="required">*</span></label>
				<div class="controls">
					<input type="hidden" id="select2_projectId" class="span6 select2" name="projectId">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">${i18n("version.buildNumber")}<span class="required">*</span></label>
				<div class="controls">
					<input type="text" id="v_buildnumber" class="span6" name="buildNumber">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">${i18n("version.versionName")}<span class="required">*</span></label>
				<div class="controls">
					<input type="text" id="v_versionname" class="span6" name="versionName">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">${i18n("version.androidVersion")}<span class="required">*</span></label>
				<div class="controls">
					<input type="text" id="v_androidversion" class="span6 " name="androidVersion">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">${i18n("version.description")}</label>
				<div class="controls">
					<textarea type="text" id="v_description" class="span6 " name="description" rows="10" cols=""></textarea>
				</div>
			</div>
			
			<div class="form-actions">
				<button type="submit" class="btn green">${i18n("submit")}</button>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>

</@layout.content>

<@layout.footer>
<script type="text/javascript" src="assets/js/ota.version.add.js"></script>
<script>
	jQuery(document).ready(function() {    
		VersionAdd.init();
	});
</script>
</@layout.footer>