<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
	<div class="span12">

		<!-- BEGIN PAGE TITLE & BREADCRUMB-->

		<h3 class="page-title">
			${i18n("content.header.title")}<small>${i18n("content.header.tmore")}</small>
		</h3>
		<ul class="breadcrumb">
			<li><i class="icon-home"></i> 
				<a href="index.html">${i18n("nav.home")}</a> 
				<i class="icon-angle-right"></i>
			</li>

			<li><a href="#">${i18n("nav.dashboard")}</a></li>

			<li class="pull-right no-text-shadow">

				<div id="dashboard-report-range"
					class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive"
					data-tablet="" data-desktop="tooltips" data-placement="top"
					data-original-title="Change dashboard date range">

					<i class="icon-calendar"></i> <span></span> <i
						class="icon-angle-down"></i>

				</div>

			</li>

		</ul>

		<!-- END PAGE TITLE & BREADCRUMB-->

	</div>

</div>

<!-- END PAGE HEADER-->