<!-- BEGIN PAGE HEADER-->

	<div class="span12">

		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<!-- -->
		<h3 class="page-title">
			${hTitle} <small>${hDescription}</small> 
		</h3>
		<ul class="breadcrumb">
			<li><i class="icon-home"></i> 
				<a href="/admin">${i18n("nav.home")}</a> 
				<i class="icon-angle-right"></i>
			</li>
			
			<#list navs as nav>
			
			<li><a href="#">${nav}</a>
				<i class="icon-angle-right"></i>
			</li>
			
			</#list>

			<li class="pull-right no-text-shadow">

				<div id="dashboard-report-range"
					class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive"
					data-tablet="" data-desktop="tooltips" data-placement="top"
					data-original-title="Change dashboard date range">

					<i class="icon-calendar"></i> <span></span> 
					<i class="icon-angle-down"></i>

				</div>

			</li>

		</ul>

		<!-- END PAGE TITLE & BREADCRUMB-->

	</div>



<!-- END PAGE HEADER-->