<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">${i18n("header.company")}</a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
			<li class="dropdown user">
				<a href="#" class="dropdown-toggle"	data-toggle="dropdown"> 
					<span class="username">${"username"}</span> 
					<i class="icon-angle-down"></i>
				</a>
	
				<ul class="dropdown-menu">
					<li><a href="extra_profile.html">
						<i class="icon-user"></i>
						${i18n("header.user.profile")}</a>
					</li>
					<li><a href="page_calendar.html">
						<i class="icon-calendar"></i>
						${i18n("header.user.message")}</a>
					</li>
					<li class="divider"></li>
					
					<li><a href="extra_lock.html">
						<i class="icon-lock"></i>
						${i18n("header.user.lockScreen")}</a>
					</li>
					<li><a href="login.html">
						<i class="icon-key"></i>
						${i18n("header.user.logOut")}</a>
					</li>
				</ul>
			</li>
		</ul>
        <ul class="nav">
            <li class="active"><a href="#">${i18n("header.system")}</a></li>
        </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</div>
