<!-- BEGIN SIDEBAR -->
<div class="page-sidebar nav-collapse collapse">

	<!-- BEGIN SIDEBAR MENU -->
	<ul class="page-sidebar-menu">
		<li>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<div class="sidebar-toggler hidden-phone"></div> 
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		</li>
		<li>
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<form class="sidebar-search">
				<div class="input-box">
				<!--  -->
					<a href="javascript:;" class="remove"></a> 
					<input type="text" placeholder="Search..." /> 
					<input type="button" class="submit"	value=" " />
				</div>
			</form> 
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
		</li>
		<li class="menu-bar start">
			<a href="/admin"> 
				<i class="icon-home"></i> 
				<span class="title">${i18n("nav.dashboard")}</span> 
			</a>
		</li>
		
		<li class="menu-bar">
			<a href="javascript:;"> 
				<i class="icon-briefcase"></i> 
				<span class="title">${i18n("nav.otaManage")}</span> 
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li><a href="/ota/project">${i18n("nav.otaManage.project")}</a></li>
				<li><a href="/ota/version">${i18n("nav.otaManage.version")}</a></li>
			</ul>
		</li>
		
		<li class="menu-bar"><a href="javascript:;"> <i class="icon-user"></i>
				<span class="title">${i18n("nav.userAuthority")}</span> 
				<span class="arrow "></span>
		</a>
			<ul class="sub-menu">
				<li><a href="/user/account">${i18n("nav.userAuthority.user")}</a></li>
				<li><a href="/user/privilege">${i18n("nav.userAuthority.authority")}</a></li>
			</ul>
		</li>
		
		<li class="menu-bar">
			<a href="javascript:;"> 
				<i class="icon-bar-chart"></i> 
				<span class="title">${i18n("nav.statCharts")}</span> 
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li><a href="maps_google.html"> Google Maps</a></li>
				<li><a href="maps_vector.html"> Vector Maps</a></li>
			</ul>
		</li>
		
		<li class="menu-bar">
			<a href="javascript:;"> 
				<i class="icon-cogs"></i> 
				<span class="title">${i18n("nav.setting")}</span> 
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li><a href="maps_google.html"> Google Maps</a></li>
				<li><a href="maps_vector.html"> Vector Maps</a></li>
			</ul>
		</li>
	</ul>
	<!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
