<#macro myLayout title="Layout example">
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title>${i18n("page.title")}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
  	<!-- Bootstrap -->
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- for administrator dashboard -->
	<link href="/assets/bootstrap/css/dashboard.css" rel="stylesheet">
	<!-- for navigation -->
	<link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/assets/bootstrap/css/style.css" rel="stylesheet">
	<link href="/assets/bootstrap/css/style-metro.css" rel="stylesheet">
	<link href="/assets/bootstrap/css/style-responsive.css" rel="stylesheet">
	<link href="/assets/bootstrap/css/style-non-responsive.css" rel="stylesheet">
	
	
	<!--[if lte IE 6]>
  	<link rel="stylesheet" type="text/css" href="/assets/bsie/css/bootstrap-ie6.css">
  	<![endif]-->
  	<!--[if lte IE 7]>
  	<link rel="stylesheet" type="text/css" href="/assets/bsie/css/ie.css">
  	<![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/assets/bsie/js/html5shiv.min.js"></script>
      <script src="/assets/bsie/js/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
    <#include "header.ftl.html"/>

  	<div class="container">
  		<div class="row">
  			<div class="col-sm-3 col-md-2 sidebar">
				left
			</div>
  			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  				mainContent
  			</div>
  		</div>
  	</div>
        
	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lte IE 6]>
  	<script type="text/javascript" src="/assets/bsie/js/bootstrap-ie.js"></script>
  	<![endif]-->
</body>
</html>
</#macro>