<div class="alert alert-error hide">
	<button class="close" data-dismiss="alert"></button>
	<span>${i18n("validation.fail")}</span>
</div>
<div class="alert alert-success hide">
	<button class="close" data-dismiss="alert"></button>
	${i18n("validation.success")}
</div>
<input type="hidden" id="id" class="span5 select2" name="id">
<div class="control-group">
	<label class="control-label">${i18n("project.projectName")}<span class="required">*</span></label>
	<div class="controls">
		<input type="text" id="projectName" class="span5 select2" name="projectName">
	</div>
</div>
<div class="control-group">
	<label class="control-label">${i18n("project.oem")}<span class="required">*</span></label>
	<div class="controls">
		<input type="text" id="oem" class="span5 select2" name="oem">
	</div>
</div>

<div class="control-group">
	<label class="control-label">${i18n("project.product")}<span class="required">*</span></label>
	<div class="controls">
		<input type="text" id="product" class="span5 select2" name="product">
	</div>
</div>
<div class="control-group">
	<label class="control-label">${i18n("project.language")}<span class="required">*</span></label>
	<div class="controls">
		<input type="text" id="language" class="span5 select2" name="language">
	</div>
</div>
<div class="control-group">
	<label class="control-label">${i18n("project.operator")}</label>
	<div class="controls">
		<input type="text" id="operator" class="span5 select2" name="operator">
	</div>
</div>

